.card {
  cursor: pointer;
}

.cardElevation {
  border: 0;
}

.contentWrap {
  min-width: 0;
}

.iconWrap {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  font-size: 30px;
  border-radius: 8px;
  color: var(--accent-contrast);
  background: var(--accent-9);
  overflow: hidden;
}

.content {
  min-width: 0;
  overflow: hidden;
  user-select: text;
}

.title {
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extra {
  flex-shrink: 0;
}
