@import "@radix-ui/themes/styles.css";
@import "./vars.css";

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: var(--gray-a8);
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  user-select: none;
  margin: 0;
  padding: 0;
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}
