.titleBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--title-bar-z-index);
  height: var(--title-bar-height);
  background-color: var(--title-bar-bg-color);
}

.dragRegion {
  position: absolute;
  inset: 0;
}

.content {
  height: 100%;
  margin-left: var(--nav-rail-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-a4);
}

.winControls {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
}

.winControlsBtns {
  width: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-size: 11px;
  cursor: pointer;
  color: var(--gray-12);
  transition: background-color 0.16s ease;

  &:hover {
    background-color: var(--gray-a4);
  }
}

.winControlsBtns:last-child:hover {
  background-color: var(--red-a8);
  color: var(--red-contrast);
}
