.form {
  display: flex;
  flex-direction: column;
}

.formField {
  margin-bottom: 12px;
}

.fieldHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.fieldLabel {
  display: inline-block;
}

.errorHint {
  display: inline-block;
  margin-top: 4px;
  color: var(--red-11, #be123c);
}

.formFieldInput {
  margin-bottom: 0;
}
