.root {
  padding: 24px;
  text-align: center;
}

.eyesWrap {
  width: 150px;
  margin: 0 auto;
}

.eyes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eye {
  width: 70px;
  height: 100px;
  border: 1px solid var(--gray-a7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyeball {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--gray-11);
}

.titleWrap {
  margin-top: 32px;
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}

.messageWrap {
  max-height: 160px;
  margin: 24px 0;
  white-space: normal;
  word-break: break-all;
  overflow: auto;
}

.message {
  margin: 0;
  font-size: 14px;
}
