.root {
  display: flex;
  align-items: center;
  max-width: 120px;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 6px;
  background: transparent;
  color: var(--gray-11);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.searchButton:hover {
  background: var(--gray-a4);
  color: var(--gray-12);
}

.input {
  flex: 1;
  width: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--gray-12);
  transition: width 120ms ease-in-out;
  font-size: 13px;
}

.inputShow {
  width: 100px;
}
